
@{
    ViewBag.Title = "Dashboard";

}

<h2>Dashboard</h2>

<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>

    <hr />
    <div>
        <h3>Messages</h3>
        <ul id="messages"></ul>
        <small>No more messages..</small>
    </div>
</div>

@section scripts {
    <!--SignalR script to update the proxy page and send messages.-->
    <script>
        $(function () {
            var proxy = $.connection.DashboardHub;

            proxy.client.broadcastMessage = function (model) {
                // Add the message to the page.
                $('#messages').append('<li>' + htmlMessageEncode(model) + '</li>');
            };

            $.connection.hub.start().done(function () { });

        });

        function htmlMessageEncode(value) {
            var encodedValue = $('<h2 />').text(value.severity).html();
            encodedValue += $('<p />').text(value.message).html();
            return encodedValue;
        }
    </script>
}