@{
    ViewBag.Title = "Home Page";
    ViewBag.SubTitle = "Welcome";
    ViewBag.Copyright = "2017 bSoft";
    ViewBag.Version = "0.1 Alpha";
    ViewBag.User = "Ano Nym";
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Welcome in bS SKED</h3>
    </div>
    <div class="box-body">
       <p>Welcome to <span>bS SKED</span> open source project.</p>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->