@{
    ViewBag.Title = "Home Page";
    ViewBag.SubTitle = "Welcome";
    ViewBag.Copyright = "2017 bSoft";
    ViewBag.Version = "0.1 Alpha";
    ViewBag.User = "Ano Nym";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border">
            </div>
            <div class="box-body">
                <p>Welcome to <span>bS SKED</span> open source project.</p>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="center-block" style="width:200px;">
                    <a href="@Url.Action("Dashboard", "Home")" class="btn btn-success ">Go to <b>Dashboard</b></a>
                </div>
            </div>
        </div>
    </div>
</div>